@model IEnumerable<WanoSivuv3.Models.Product>

@{
    ViewData["Title"] = "Menu";
}
<head>
    <link rel="stylesheet" href="~/css/menu.css">
</head>
<br />

<h1 class="menuTitle">Our Menu</h1>
<div class="centersearch">
    <form asp-action="Search">
        <input name="queryN" placeholder="Search" class="searchbar" />
        @*<input name="queryD" placeholder="Search" class="searchbar" />*@
        <input type="submit" value="Search" class="searchButton" />
    </form>
    </div>
<table class="table">
    <thead>
        <tr class="menunav">
            <th class="menuNames">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="menuNames">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="menuNames">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="menuNames">
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th class="menuNames">
                @Html.DisplayNameFor(model => model.Category)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>

                <div class="container">
                    <div class="row">
                        <div id="productIdo" class="card text-center">
                            <img src="@item.Image" width="100" />
                            <div class="card-body">
                                @*<p class="text-center">@item.Name</p>*@   <!-- don't need the item name on the picture -->
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <th>
                @Html.DisplayNameFor(modelItem => item.Category.Name)
            </th>

        </tr>
        }
    </tbody>
</table>

